# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# environment
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
/supabase/.temp/
/supabase/.branches/

# misc
.DS_Store
*.pem
npm-debug.log*
/.opencode
/.agents
/.claude
/.cursor

